{% extends "base.html" %}

{% block title %}
Thermo Estimation | Dashboard 
{% endblock %}

{% block page_title %}
Thermo Estimation
{% endblock %}

{% block active_page %}
Thermo Estimation
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
  <div class="alert alert-warning">
      <p>Currently works best for <u>cyclic stable</u> molecules.</p>
      <p> But we're now working on expanding the prediction capacity to radical molecules and more. Check the latest performance on different types of molecules at <a href="http://kehangsblog.com/thermo_predictor/overall_performance/Hf298">here</a>.</p> 
      <p>Please use <a href="https://en.wikipedia.org/wiki/Simplified_molecular-input_line-entry_system">SMILES</a> below for thermo estimation.</p>
  </div>
  <form method="post" class="form-horizontal">
      <div class="input-group m-b" >

          <span class="input-group-btn">
              <input type="submit" value="Estimate" class="btn btn-primary"/>
          </span> 
          <input 
                  type="text" 
                  class="form-control"
                  name="molecule_smiles"
                  id="molecule_smiles"
                  placeholder="C1CCCC1"
                  value="{{molecule_smiles}}"/>

          
      </div>
  </form>
  </div>
</div>

{% if thermo_result %}
</br>
<div class="row">
  <div class="col-md-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <div class="col-md-6">
                <h5>Molecular structure</h5>
              </div>
              <div class="col-md-6">
                <h5>Heat of formation H(298K)</h5>
              </div>
          </div>
          <div class="ibox-content">
              <div class="row">
                  <div class="col-md-6">
                      <img src="{{url_for('thermo_predictor.static', filename='img')}}/{{aug_inchi | replace('/', '_slash_')}}.svg">
                  </div>
                  <div class="col-md-6">
                      <div class="font-bold text-info"><small>Molecular ConvNet</small></div>
                      <h1 class="no-margins">{{thermo_result | round(2) }}</h1>
                      <h6>kcal/mol</h6>
                  </div>
              </div>
          </div>

          <!-- <div class="ibox-title">
              <div class="col-md-6">
                <h5>Nearest Neighbours</h5>
              </div>
          </div> -->

          <!-- <div class="ibox-content">
              <div class="row">
              {% for nb in range(4)%}
                  <div class="col-md-3">
                      <img src="{{url_for('thermo_predictor.static', filename='img')}}/{{aug_inchi | replace('/', '_slash_')}}_nb{{nb}}.svg">
                  </div>
              {% endfor %}
              </div>
          </div> -->
      </div>
  </div>
</div>

{% endif %}

{% endblock %} 