<html>
    <head>
        <script src="http://code.jquery.com/jquery-2.2.0.min.js" ></script>
        </script>
        <link rel="stylesheet" href="static/default.css">
</head>
    <body>
        <form name="input_form" id="input_form">
            <input name="job_name" id="job_name" type="text" />
            <input name="cmd" id="cmd" type="text" />
            <input type="submit" value="send"/>
        </form>
        <br/>
        <div id="progress"></div>
        <div id="result"><a id="resultLink" href=""></a></div>
        <script src="static/run.js"></script>
    </body>
</html>
