<html>
    <head>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous"></link>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300'
              rel='stylesheet' type='text/css'></link>
        <script src="http://code.jquery.com/jquery-2.2.0.min.js" ></script>
        </script>
        <link rel="stylesheet" href="static/default.css">
</head>
    <body>
        <div class="content">
        <div class="new-jobs">
        <h1>Upload Input File</h1>
        <form name="input_form"
              id="input_form"
              action=""
              method=post
              enctype="multipart/form-data"
              >
            <div class="form-group">
                <label for="job_name">Job name</label>
                <input name="job_name"
                       id="job_name"
                       type="text"
                       class="form-control"
                       placeholder="SN1 in Methane" />
            </div>
            <div class="form-group">
                <label for="cmd">Command</label>
                <input name="cmd"
                       id="cmd"
                       type="text"
                       class="form-control"
                       placeholder="run-rmg"/>
            </div>
            <div class="form-group">
                <label for="File">Input File</label>
                <input type="file" name="file"></input>
            </div>

            <input type="submit" value="Upload" class="btn btn-default"/>
        </form>
        <div id="progress"></div>
        <span>Result</span>
        <div id="result"><a id="resultLink" href=""></a></div>
        </div>

        <div class="recent-jobs">
            <h1>Recent Jobs</h1>
            <button class="btn btn-default" onclick="refresh();">Refresh</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Download</th>
                </tr>
                <tr>
                    <td id="firstId" >1</td>
                    <td id="firstName" >Sample job</td>
                    <td>
                        <a id="firstDownload" href="#">
                            <span class="glyphicon glyphicon-download"
                                  aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td id="secondId" >2</td>
                    <td id="secondName" >Sample job</td>
                    <td>
                        <a id="secondDownload" href="#">
                            <span class="glyphicon glyphicon-download"
                                  aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td id="thirdId" >3</td>
                    <td id="thirdName" >Sample job</td>
                    <td>
                        <a id="thirdDownload" href="#">
                            <span class="glyphicon glyphicon-download"
                                  aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        </div>

        <script src="static/run.js"></script>
    </body>
</html>
