<html>
    <head>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous"></link>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300'
              rel='stylesheet' type='text/css'></link>
        <script src="http://code.jquery.com/jquery-2.2.0.min.js" ></script>
        </script>
        <link rel="stylesheet" href="static/default.css">
        <link rel="stylesheet" href="static/odometer-theme-default.css" />
        <script src="static/odometer.min.js"></script>
        
</head>
    <body>
      <div>total count: </div>
      <div id="odometer" class="odometer">{{total_count}}</div>

      <div>application_count_dict: {{application_count_dict}}
      </div>
    </body>
</html>
